<h2>Listagem de Produtos</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Data de Cadastro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Carne</td>
            <td>R$ 70,00</td>
            <td>Alimento</td>
            <td>29/07/2020</td>
        </tr>
        <tr>
            <td>Pasta de Dentes</td>
            <td>R$ 20,00</td>
            <td>Higiene</td>
            <td>15/08/2020</td>
        </tr>
    </tbody>
</table>